<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play a game of Rock, Paper or Scizors!</title>
    <h1>Choose your weapon and see if you won!</h1>
</head>
<body>
    <form action="/rpsAction">
        <button type="submit" name="choice" value="0">ROCK</button>
        <button type="submit" name="choice" value="1">PAPER</button>
        <button type="submit" name="choice" value="2">SCIZORS</button>
    </form>

    <table>
        <tr>
            <td th:text="${result}"></td>
            <td th:text="${message}"></td>
        </tr>
    </table>

</body>
</html>