<!DOCTYPE html>

<html lang="en">
    <title>IW - Show location</title>
    <link rel="stylesheet" type="text/css"
        th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.css"/>
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
    <script src="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.umd.js">
    </script> 
    <script src="http://code.jquery.com/jquery-latest.min.js">
    </script>

    <body>
        <h1>Where's my home?</h1>
        In this webpage you start from home and then you can look for another places you want to go to.
        <div id="map" style="height:350px"></div>
    </body>
  
    <script type="text/javascript" src="/js/showLocation.js"></script>
</html>
