<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
  <title>Text Word Counter</title>
  <link rel="stylesheet" type="text/css"
        href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <body>
      <h3>APPLICATION THAT COUNT THE NUMBER OF WORDS CONTAINED IN A TEXT</h3>
      <p>Introduce your text:</p>
    <form action="/textCounter" method="post">
        <label for="text"></label>
        <textarea name="text" id="text" rows="20" cols="80"></textarea><br><br>
        <p><input type="submit" value="COUNT WORDS" /></p>
    </form>

    <kbd><th:block th:text="${numPalabras}">0</th:block></kbd>

    <script type="text/javascript" th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
  </body>
</html>
