<!DOCTYPE html>
<!--/* Thymeleaf template that shows:
      <time> @<name> <Console-icon> <message>
      Today's lucky color is <luckyColor>

      - <message> consists of "Hola <name>", default value is "message"
      - <name> default is "alumno"
      - <luckyColor> default is "red"
      */-->
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
      <title>Hello world</title>
      <link rel="stylesheet" type="text/css"
            th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
      <body>
            <h2><th:block th:text="${message + ' &#8594; ' + dice}"></th:block></h2>
            <kbd> <th:block th:text="${time}">time</th:block> @<th:block th:text="${name} ?: 'alumno'"></th:block>
                  <span class="glyphicon glyphicon-console"></span> <th:block th:text="${message} ?: 'message'"> </th:block> </kbd>
            <p>Your IP is <kbd th:text="${ip}"></kbd></p>
            <p>Your Host is <kbd th:text="${host}"></kbd></p>
            <p>The JAVA version used is <kbd th:text="${java}"> </kbd></p>
            <br>
            <kbd>Today's lucky colour is <th:block th:text="${luckyColor} ?: 'red'"></th:block></kbd><br/><br/>
            <kbd th:block th:text=" ${joke_const}"></kbd><br/>
            <kbd th:block th:text=" ${'+' + joke_plus }"></kbd><br/>
            <kbd th:block th:text=" ${'-' + joke_minus}"></kbd><kbd></kbd><br/><br/>
            <kbd th:block th:text=" ${extra_message}"></kbd>
            <a href ="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><th:block th:text="${link}"></th:block></a>
            <p><img src="images/Pilar.jpg"/></p>
            <kbd><a href="/password" style="color: white">Access to the password generator</a></kbd>
            <script type="text/javascript" th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
      </body>
</html>