<!DOCTYPE html>
<!--/* Thymeleaf template that shows:
      <time> @<name> <Console-icon> <message>

      <message> consists of "Hola <name>"
      */-->
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
      <title>Hello world</title>
      <link rel="stylesheet" type="text/css"
            th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
      <body>
            <kbd> <th:block th:text="${time}">time</th:block> @<th:block th:text="${name}"></th:block>
                  <span class="glyphicon glyphicon-console"></span> <th:block th:text="${message}">message</th:block>
            </kbd>
            <script type="text/javascript" th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
      </body>
</html>